<div class="box box-3 box-gray box-center hidden">
    <div class="container">
        <div class="box-title">
            <h2>Nossos eventos</h2>
            <p>Veja abaixo a lista de eventos que já aconteceram e os que ainda estão por vir.</p>
        </div>
        <div class="box-content">
            <div data-scope="events-feed"></div>
            <div data-scope="events-feed-arrows" class="group-arrows">
                <a data-arrow="slider-events-prev" href="#" class="arrow-prev"><i class="icon-arrow-left"></i></a>
                <a data-arrow="slider-events-next" href="#" class="arrow-next"><i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
