    </section>

    <footer class="footer">

        <div class="box-newsletter">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <label for="newsletter">Quer receber as novidades do <strong>Criciúma Dev</strong> no seu email?</label>
                </div>

                <div class="col-md-7 col-sm-12 col-xs-12">
                    <form action="https://criciumadev.us14.list-manage.com/subscribe/post-json?u=8e3a3c3496e2d791a82bf21e6&id=86aa7de8aa&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" data-scope="newsletter">
                        <div class="input-row">
                            <input type="email" placeholder="Informe seu email" name="EMAIL" class="input-text" id="mce-EMAIL" data-item="input" required>
                            <input type="submit" name="subscribe" value="Assinar" class="button button-white" data-item="button">
                        </div>
                        <div class="subscribe-result" data-item="subscribe-result" style="display: none;"></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-12 col-md-12">
                        <figure>
                            <img class="logo" src="./assets/images/logo-criciuma-dev-light.svg" alt="Criciúma Dev" />
                        </figure>
                        <p class="description">Criado em 2015, o Criciúma Dev é uma iniciativa sem fins lucrativos que busca fomentar o aprendizado e ajudar pessoas que curtem a área de tecnologia e desenvolvimento de Criciúma, Santa Catarina, a se desenvolverem profissionalmente.</p>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-12 col-md-12">&nbsp;</div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-md-12">
                        <h6>Mais sobre o Criciúma Dev</h6>
                        <ul class="simple-list row">
                            <li class="col-md-4 col-sm-4 col-xs-12"><a href="/">Home</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a href="/conference">Conference</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://medium.com/criciumadev">Artigos</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://www.youtube.com/channel/UC5rQV1_PbC_hYxaiT78lbhg/videos?sub_confirmation=1">Vídeos</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a href="/vagas">Vagas</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a href="/sobre">Sobre</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a href="/contato">Contato</a></li>
                            <!-- <li class="col-md-4 col-sm-4 col-xs-12"><a href="/apoie">Apoie</a></li> -->
                        </ul>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-12 col-md-12">&nbsp;</div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-md-12">
                        <h6>Redes sociais</h6>
                        <ul class="simple-list row">
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://www.facebook.com/criciumadev">Facebook</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://twitter.com/criciumadev">Twitter</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://www.youtube.com/channel/UC5rQV1_PbC_hYxaiT78lbhg/videos?sub_confirmation=1">Youtube</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://medium.com/criciumadev">Medium</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://slack.criciumadev.com.br">Slack</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-10 col-md-12">
                        <p class="fondly">Pensado e feito com <i class="icon-heart"></i> para a comunidade de desenvolvedores de Criciúma e região.</p>
                    </div>
                    <div class="col-md-6 col-sm-2 col-md-12">
                        <a class="go-to-top" href="#" data-scope="go-to-top">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- ===================== -->
    <!-- Javascripts -->
    <!-- ===================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src='./assets/all.min.js'></script>

    @@include('./google-analytics.html')

  </body>
</html>