    </section>

    <footer class="footer">

        <div class="box-newsletter">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <label for="newsletter">Quer receber as novidades do <strong>Criciúma Dev</strong> no seu email?</label>
                </div>

                <div class="col-md-7 col-sm-12 col-xs-12">
                    <form name="epm-sign-up-form" action="#" method="post">
                        <input type="email" placeholder="Informe seu email" name="" tabindex="8" class="email input-text">
                        <input type="submit" name="" value="Assinar" data-wait-text="Enviando..." tabindex="10" class="button button-white">
                    </form>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-3 col-md-12">
                        <figure>
                            <img class="logo" src="./assets/images/logo-criciuma-dev-light.svg" alt="Criciúma Dev" />
                        </figure>
                        <p class="description">Somos uma plataforma colaborativa de UI Design, que disponibiliza UI kits e elementos de design de forma gratuita, ajudando você a otimizar o tempo no desenvolvimento de interfaces.</p>
                    </div>

                    <div class="col-md-1 col-sm-1 col-md-12">&nbsp;</div>

                    <div class="col-md-4 col-sm-4 col-md-12">
                        <h6>Mais sobre o Criciúma Dev</h6>
                        <ul class="simple-list row">
                            <li class="col-md-4 col-sm-4 col-xs-12"><a href="/">Home</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a href="/conference">Conference</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://medium.com/criciumadev">Artigos</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://www.youtube.com/channel/UC5rQV1_PbC_hYxaiT78lbhg">Vídeos</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a href="/vagas">Vagas</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a href="/sobre">Sobre</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a href="/contato">Contato</a></li>
                            <!-- <li class="col-md-4 col-sm-4 col-xs-12"><a href="/apoie">Apoie</a></li> -->
                        </ul>
                    </div>

                    <div class="col-md-1 col-sm-1 col-md-12">&nbsp;</div>

                    <div class="col-md-3 col-sm-3 col-md-12">
                        <h6>Redes sociais</h6>
                        <ul class="simple-list row">
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://www.facebook.com/criciumadev">Facebook</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://twitter.com/criciumadev">Twitter</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://www.youtube.com/channel/UC5rQV1_PbC_hYxaiT78lbhg">Youtube</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://medium.com/criciumadev">Medium</a></li>
                            <li class="col-md-4 col-sm-4 col-xs-12"><a target="_blank" href="https://slack.criciumadev.com.br">Slack</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-md-12">
                        <p class="fondly">Pensado e feito com <i class="icon-heart"></i> para a comunidade de desenvolvedores de Criciúma e região.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-md-12">
                        <a class="go-to-top" href="#" data-scope="go-to-top">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    @@include('./google-analytics.html')


  </body>
</html>