<!DOCTYPE html>
<html lang="pt-BR" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" itemscope itemtype="http://schema.org/WebPage">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">

        <title>@@pageTitle</title>

        <meta charset="UTF-8" />

        <meta name="description" content="@@pageDescription" />
        <meta name="keywords" content="Criciúma, Dev, Comunidade" />
        <meta name="resource-type" content="document">
        <meta name="classification" content="Internet">
        <meta name="robots" content="all">
        <meta name="distribution" content="Global">
        <meta name="rating" content="General">
        <meta name="language" content="en">
        <meta name="doc-class" content="Completed">
        <meta name="doc-rights" content="Public">

        <meta name="google-site-verification" content="fWJk-cvBwlVDRUJV0l2g3vLBD9zU2OcsalSEVxWHI84" />

        <!-- ===================== -->
        <!-- Favicons -->
        <!-- ===================== -->
        <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="./assets/images/favicons/manifest.json">
        <link rel="mask-icon" href="./assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

        <!-- ===================== -->
        <!-- Mobile Specific Metas -->
        <!-- ===================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <!-- ===================== -->
        <!-- AUTHOR -->
        <!-- ===================== -->
        <meta name="author" content="Criciúma Dev" />
        <meta name="reply-to" content="contato@criciumadev.com.br" />
        <meta name="publisher" content="Criciúma Dev">

        <!-- ===================== -->
        <!-- ROBOTS -->
        <!-- ===================== -->
        <meta name="GOOGLEBOT" content="INDEX, FOLLOW" />
        <meta name="robots" content="index, follow">
        <meta name="msnbot" content="NOODP" />

        <!-- ===================== -->
        <!-- FACEBOOK -->
        <!-- ===================== -->
        <meta property="og:title" content="@@pageTitle" />
        <meta property="og:locale" content="pt_BR" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.criciumadev.com.br@@pageUrl" />
        <meta property="og:site_name" content="Criciúma Dev" />
        <meta property="og:description" content="@@pageDescription" />
        <meta property="og:image" content="./assets/images/favicons/facebook.png" />
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="fb:admins" content=""/>

        <!-- ===================== -->
        <!-- TWITTER -->
        <!-- ===================== -->
        <meta name="twitter:title" content="@@pageTitle" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="https://www.criciumadev.com.br@@pageUrl" />
        <meta name="twitter:creator" content="@criciumadev" />
        <meta name="twitter:domain" content="criciumadev" />
        <meta name="twitter:description" content="@@pageDescription" />
        <meta name="twitter:image:alt" content="@@pageTitle" />
        <meta name="twitter:image" content="./assets/images/favicons/twitter.png" />

        <!-- ===================== -->
        <!-- Facebook Pixel Code -->
        <!-- ===================== -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1877328505871673'); // Criciúma Dev
            // fbq('init', '516306181856599'); // Umbler
            fbq('track', 'PageView');
        </script>

        <!-- ===================== -->
        <!-- Stylesheets -->
        <!-- ===================== -->
        <link rel="stylesheet" type="text/css" href="./assets/all.min.css"/>

    </head>
    <body class="@@pageClass" data-url="@@pageUrl">

        <header class="header" data-scope="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <figure>
                            <a class="logo" href="/" title="Criciúma Dev" rel="home">
                                <img class="light" src="./assets/images/logo-criciuma-dev-light.svg" alt="Criciúma Dev" />
                                <img class="dark" src="./assets/images/logo-criciuma-dev-dark.svg" alt="Criciúma Dev" />
                                <img class="cd" src="./assets/images/logo-cd-conference.svg" alt="Criciúma Dev Conference" />
                            </a>
                        </figure>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <nav>
                            <ul class="list-menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/conference" target="_blank">Conference</a></li>
                                <li><a target="_blank" href="https://slack.criciumadev.com.br">Slack</a></li>
                                <li><a target="_blank" href="https://medium.com/criciumadev">Artigos</a></li>
                                <li><a target="_blank" href="https://www.youtube.com/channel/UC5rQV1_PbC_hYxaiT78lbhg/videos?sub_confirmation=1">Vídeos</a></li>
                                <li><a href="/vagas">Vagas</a></li>
                                <li><a href="/sobre">Sobre</a></li>
                                <li><a href="/contato">Contato</a></li>
                                <!-- <li class="apoie"><a href="/apoie" class="button button-primary-border">Apoie a comunidade</a></li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <section class="content">
