<div class="box box-2 box-white">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="box-title">
                    <h2>Sobre a comunidade</h2>
                    <p>
                        Criado em 2015, o Criciúma Dev é uma iniciativa sem fins lucrativos que busca fomentar o aprendizado e ajudar pessoas que curtem a área de tecnologia e desenvolvimento de Criciúma, Santa Catarina, a se desenvolverem profissionalmente.
                        <br><br>
                        O Criciúma Dev é mantido pelo apoio da comunidade de desenvolvedores e de empresas engajadas em fazer a área de TI crescer cada vez mais.
                        <br><br>
                        <a href="/sobre" class="link">Saiba mais</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-md-push-1 col-sm-12 col-xs-12">

                <div class="row group-images">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/sobre/im-criciuma-dev-1.jpg" alt="Criciúma Dev 1" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/sobre/im-criciuma-dev-2.jpg" alt="Criciúma Dev 2" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/sobre/im-criciuma-dev-3.jpg" alt="Criciúma Dev 3" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/sobre/im-criciuma-dev-4.jpg" alt="Criciúma Dev 4" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/sobre/im-criciuma-dev-5.jpg" alt="Criciúma Dev 5" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/sobre/im-criciuma-dev-6.jpg" alt="Criciúma Dev 6" />
                        </figure>
                    </div>
                     <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/sobre/im-criciuma-dev-7.jpg" alt="Criciúma Dev 7" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/sobre/im-criciuma-dev-8.jpg" alt="Criciúma Dev 8" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/sobre/im-criciuma-dev-9.jpg" alt="Criciúma Dev 9" />
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
