<div class="box box-sponsors box-white box-center">
    <div class="container">
        <div class="box-title">
            <h2>Patrocinadores e apoiadores</h2>
            <p>
                Quem torna o projeto BrazilJS possível são as empresas que apoiam, investem e acreditam em nossas ideias.
                <br/>
                Quer fazer parte dessa iniciativa? SEJA UM PATROCINADOR
            </p>
        </div>
        <div class="box-content">
            <ul class="list-brandings">
                <li>
                    <a target="_blank" href="" title="">
                        <img src="" alt="" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>