<div class="box box-sponsors box-white box-center">
    <div class="container">

        <div class="box-content">

            <div class="group-sponsors">
                <div class="box-title">
                    <h2>Apresentador da Conference</h2>
                </div>
                <ul class="list-brandings">
                    <li>
                        <a target="_blank" href="http://www.dominiosistemas.com.br" title="Domínio Thomson Reuters">
                            <img src="./assets/images/patrocinadores/logo-dominio-thomson-reuters.png" alt="Domínio Thomson Reuters" />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="group-sponsors">
                <div class="box-title">
                    <h2><span>Patrocinadores</span> Prata</h2>
                </div>
                <ul class="list-brandings">
                    <li>
                        <a target="_blank" href="https://contaazul.com" title="ContaAzul">
                            <img src="./assets/images/patrocinadores/logo-contaazul.png" alt="ContaAzul" />
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="https://www.portabilis.com.br" title="Portabilis">
                            <img src="./assets/images/patrocinadores/logo-portabilis.png" alt="Portabilis" />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="group-sponsors">
                <div class="box-title">
                    <h2><span>Patrocinadores</span> Bronze</h2>
                </div>
                <ul class="list-brandings">
                    <li>
                        <a target="_blank" href="http://deps.com.br" title="Deps Tecnologia">
                            <img src="./assets/images/patrocinadores/logo-deps.png" alt="Deps Tecnologia" />
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="http://collab2.cloud" title="Collab2">
                            <img src="./assets/images/patrocinadores/logo-collab2.png" alt="Collab2" />
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="http://www.ibis.com" title="Ibis Hoteis">
                            <img src="./assets/images/patrocinadores/logo-ibis.png" alt="Ibis Hoteis" />
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="http://plurallcw.com.br" title="Plurall Coworking">
                            <img src="./assets/images/patrocinadores/logo-plurall.png" alt="Plurall Coworking" />
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="https://organizze.com.br" title="Organizze">
                            <img src="./assets/images/patrocinadores/logo-organizze.png" alt="Organizze" />
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="http://www.useall.com.br" title="Useall">
                            <img src="./assets/images/patrocinadores/logo-useall.png" alt="Useall" />
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="https://www.nerdstickers.com.br" title="Nerd Stickers">
                            <img src="./assets/images/patrocinadores/logo-nerd-stickers.png" alt="Nerd Stickers" />
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="https://www.umbler.com" title="Umbler">
                            <img src="./assets/images/patrocinadores/logo-umbler.png" alt="Umbler" />
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="http://www.codeminer42.com" title="Codeminer42">
                            <img src="./assets/images/patrocinadores/logo-codeminer.png" alt="Codeminer42" />
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="https://www.homeyou.com" title="Homeyou">
                            <img src="./assets/images/patrocinadores/logo-homeyou.png" alt="Homeyou" />
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="https://braziljs.org" title="BrazilJs">
                            <img src="./assets/images/patrocinadores/logo-braziljs.png" alt="BrazilJs" />
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</div>