@@include('./_partials/header.html', {
    "pageClass": "page page-conference-2019",
    "pageTitle": "Criciúma Dev Conference 2019 &bull; Um dos maiores eventos de Tecnologia do Sul do Brasil",
    "pageDescription": "A segunda edição do Criciúma Dev Conference chega para reafirmar a união da comunidade, fomentar ideias e colocar Criciúma de vez no mapa dos grandes eventos de tecnologia do Brasil.",
    "pageUrl": "/conference-2019"
})

<div class="box box-1">
    <div class="container">
        <h1>CRICIÚMA DEV<br />CONFERENCE 2019</h1>
        <div class="countdown hidden-xs" style="display: none;">
            <div class="countdown-item countdown-item__days">
                <div class="countdown-item--tag">-</div>
                <div class="countdown-item--label">DIAS</div>
            </div>
            <div class="countdown-item countdown-item__hours">
                <div class="countdown-item--tag">-</div>
                <div class="countdown-item--label">HORAS</div>
            </div>
            <div class="countdown-item countdown-item__minutes">
                <div class="countdown-item--tag">-</div>
                <div class="countdown-item--label">MIN</div>
            </div>
        </div>
        <div class="sub-header" style="display: none; flex-direction: row; justify-content: space-between; align-items: center;">
            <div class="hidden-xs">
                <p style="margin-bottom: 12px;">
                    <img src="/assets/icons/ico_calendar.svg" alt="" />
                    04/MAIO
                </p>
                <p>
                    <img src="/assets/icons/ico_local.svg" alt="" />
                    Associação Empresarial de Criciúma - ACIC
                </p>
            </div>
            <a target="_blank" href="https://bit.ly/cdc2019s" class="button button-secondary">Comprar Ingressos</a>
        </div>
        <h2>Obrigado por ter ido!</h2>
    </div>
</div>

<div class="box box-2 box-white">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="box-title">
                    <h2>Sobre o #CDC2019</h2>
                    <p>
                        Criada em 2015, a maior comunidade de desenvolvedores do Sul de Santa Catarina prepara para 2019 o <strong>2º Criciúma Dev Conference</strong>. Um evento de tecnologia com palestras, stands, mais de 400 participantes e muitas horas de diversão.
                    </p>
                    <p>
                        Este ano traremos novamente palestrantes de renome nacional e internacional, que são referências em suas áreas de atuação e que trabalham das maiores empresas de tecnologia do Brasil e do Mundo.
                    </p>
                    <a target="_blank" href="https://www.facebook.com/pg/criciumadev/photos/?tab=album&album_id=1875668072466963" class="button button-secondary">VER FOTOS DE 2018</a>
                </div>
            </div>
            <div class="col-md-6 col-md-push-1 col-sm-12 col-xs-12 hidden-xs">
                <div class="row group-images">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2019/sobre/im-criciuma-dev-1.jpg" alt="Criciúma Dev 1" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2019/sobre/im-criciuma-dev-2.jpg" alt="Criciúma Dev 2" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2019/sobre/im-criciuma-dev-3.jpg" alt="Criciúma Dev 3" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2019/sobre/im-criciuma-dev-4.jpg" alt="Criciúma Dev 4" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2019/sobre/im-criciuma-dev-5.jpg" alt="Criciúma Dev 5" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2019/sobre/im-criciuma-dev-6.jpg" alt="Criciúma Dev 6" />
                        </figure>
                    </div>
                     <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2019/sobre/im-criciuma-dev-7.jpg" alt="Criciúma Dev 7" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2019/sobre/im-criciuma-dev-8.jpg" alt="Criciúma Dev 8" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2019/sobre/im-criciuma-dev-9.jpg" alt="Criciúma Dev 9" />
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="box box-3 box-about hidden-xs">
    <div class="container">
        <div class="box-about-item">
            <img src="/assets/icons/ico_mic.png" alt="8 Palestras" class="box-about-icon" />
            <div class="box-about-entry">
                <strong>8</strong>
                Palestras
            </div>
        </div>
        <div class="box-about-item">
            <img src="/assets/icons/ico_stands.png" alt="+6 Stands" class="box-about-icon" />
            <div class="box-about-entry">
                <strong>+6</strong>
                Stands
            </div>
        </div>
        <div class="box-about-item">
            <img src="/assets/icons/ico_profi.png" alt="+300 Profissionais" class="box-about-icon" />
            <div class="box-about-entry">
                <strong>+400</strong>
                Profissionais
            </div>
        </div>
        <div class="box-about-item">
            <img src="/assets/icons/ico_networking.png" alt="Muito Networking" class="box-about-icon" />
            <div class="box-about-entry">
                <strong>Muito</strong>
                Networking
            </div>
        </div>
    </div>
</div>

<div class="box box-gray box-4 box-palestras">
    <div class="container">
        <div class="box-title box-feat-title">
            <h2>Palestrantes</h2>
        </div>
        <div class="box-content box-palestrantes">

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2019/palestrantes/raphael-amorim.png" alt="Raphael Amorim" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Raphael Amorim</h5>
                    <p>Software Developer Engineer at Godaddy</p>
                    <img class="company" src="/assets/images/cdc-2019/palestrantes/company-godaddy.png" alt="GoDaddy" />
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2019/palestrantes/sergio-gama.png" alt="Sergio Gama" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Sergio Gama</h5>
                    <p>Senior Developer Advocate da IBM Líder na América Latina</p>
                    <img class="company" src="/assets/images/cdc-2019/palestrantes/company-ibm.png" alt="IBM" />
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2019/palestrantes/carolina-pascale.png" alt="Carolina Pascale" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Carolina Pascale</h5>
                    <p>Software Engineer at Nubank</p>
                    <img class="company" src="/assets/images/cdc-2019/palestrantes/company-nubank.png" alt="Nubank" />
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2019/palestrantes/wellington-silva.png" alt="Wellington Silva" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5 style="font-size: 49px;">Wellington Silva</h5>
                    <p>Software Reliability Engineer at Cabify/EasyTaxi</p>
                    <img class="company" src="/assets/images/cdc-2019/palestrantes/company-cabify.png" alt="Cabify" />
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2019/palestrantes/fernanda-bernardo.png" alt="Fernanda Bernardo" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Fernanda Bernardo</h5>
                    <p>Software Engineer - Elo7</p>
                    <img class="company" src="/assets/images/cdc-2019/palestrantes/company-elo7.png" alt="Elo7" />
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2019/palestrantes/arthur-castro.png" alt="Arthur Castro" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Arthur Castro</h5>
                    <p>Product Lead - Yellow</p>
                    <img class="company" src="/assets/images/cdc-2019/palestrantes/company-yellow.png" alt="Yellow" />
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2019/palestrantes/rodrigo-branas.png" alt="Rodrigo Branas" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Rodrigo Branas</h5>
                    <p>CEO da AgileCode e CTO da Gennera</p>
                    <img class="company" src="/assets/images/cdc-2019/palestrantes/company-rodrigo-branas.png" alt="Gennera" />
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2019/palestrantes/lf-bittencourt.png" alt="LF Bittencourt" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5 style="font-size: 44px;line-height: 37px;">LUÍS FERNANDO BITTENCOURT</h5>
                    <p>CTO da Gongo e Gerente de tecnologia da Pmweb</p>
                    <img class="company" src="/assets/images/cdc-2019/palestrantes/company-lf-bittencourt.png" alt="Pmweb" />
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2019/palestrantes/pedro-nauck.png" alt="Pedro Nauck" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Pedro Nauck</h5>
                    <p style="padding-right: 90px;">Front-End developer e criador do Docz</p>
                    <img class="company" src="/assets/images/cdc-2019/palestrantes/company-pedro-nauck.png" alt="Docz" />
                </div>
            </div>

        </div>
    </div>
</div>

<div class="box box-5 box-programacao">
    <div class="container">
        <div class="box-title box-feat-title">
            <h2>Programação</h2>
        </div>

        <div class="box-content box-prog">
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">8h</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Credenciamento &amp; Coffee Break</h4>
                    </div>
                </div>
            </div>
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">9h10</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Abertura do evento</h4>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Wellington Silva - Docker, ao infinito e além!</h4>
                        <p>Entenda de uma vez por todas o que é o Docker, qual é a mágica, qual o real ganho desse paradigma. O que é orquestração de contêineres e porque a Cabify e diversas outras empresas no mundo inteiro estão aderindo a esse tipo de tecnologia.</p>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Fernanda Bernardo - Perceived Performance</h4>
                        <p>Falamos muito sobre performance na web: cache, HTTP2, PWA, AMD, otimização de imagens, entre muitas outras coisas. Mas já pensou se conseguíssemos fazer nosso site parecer mais rápido? Sem precisar mudar o back end e somente fazer pequenas alterações no front? Será que isso funciona? Nessa talk vou falar sobre Perceived Performance e como percebemos o tempo!</p>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Raphael Amorim - Building Websites with Machines</h4>
                        <p>A ideia da palestra é falar sobre a arquitetura de um Website Builder e explorar um dos maiores desafios dos website builders atuais: WYSIWYG com alta perfomance. Dando enfâse a todos os pontos de construir uma ferramenta que busca atender usuários de diversos níveis de afinidade com a web.</p>
                    </div>
                </div>
            </div>
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">12h</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Almoço</h4>
                    </div>
                </div>
            </div>
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">13h40</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Abertura da tarde</h4>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">LF Bittencourt - A primeira linguagem que todo programador deve aprender</h4>
                        <p>Como uma única linguagem pode fazer você ir muito mais longe na carreira e na vida</p>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Carolina Pascale - Como construir software sustentável</h4>
                        <p>Nesta palestra irei contar como programação funcional, testes e arquitetura hexagonal ajudam o nubank a ter um codebase sustentável.</p>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Rodrigo Branas - Do Monolito aos Microfrontends: Escalando a Arquitetuta na Web</h4>
                        <p>Nessa palestra, vamos abordar diversas estratégias para decompor o frontend em partes menores mostrando as suas vantagens e desvantagens e descobrindo formas de lidar com as limitações que acabam aparecendo ao longo do caminho.</p>
                    </div>
                </div>
            </div>
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">16h30</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Coffee Break</h4>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Arthur Castro - O que milhões de usuários me ensinaram sobre gerenciamento de produtos</h4>
                        <p>Cair na graça de milhões de usuários não é fácil. E o que está por trás disso? Não existe uma fórmula mágica, mas algumas coisas que podem ajudar e encurtar caminhos na criação de produtos de sucesso.</p>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Sergio Gama - Transformação Digital e Inovação com Inteligência Artificial</h4>
                        <p>Como se adaptar e inovar em um mundo onde as tecnologias vivem em constante evolução e transformação, especialmente com os sistemas de inteligência artificial. Como a inteligência artificial está impactando na forma que as pessoas e empresas interagem, e como tem transformado as profissões e negócios.</p>
                    </div>
                </div>
            </div>
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">18h40</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Encerramento</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-blue box-6 box-hotel hidden-xs">
    <div class="container">
        <div class="box-content">
            <div class="box-hotel-about">
                <h3>Onde se hospedar</h3>
                <p><strong>ÍBIS HOTEL CRICIÚMA</strong></p>
                <p>Av. Gabriel Zanette, 1090 - Ceará, Criciúma - SC, 88815-060</p>
                <a href="https://goo.gl/pgq5i2" class="button button-secondary" target="_blank">Como Chegar?</a>
            </div>
            <div class="box-hotel-discount hidden-xs">
                <p>Tá afim de ficar no hotel? Nós fizemos uma parceria com o Ibis Hoteis e conseguimos um <b>DESCONTO</b> \o/ para vocês.<br />
                Basta enviar um email para <a href="mailto:ibis.criciuma@accor.com?subject=Reserva para o Criciúma Dev Conference">ibis.criciuma@accor.com</a>, falar que vai vir para o evento e fazer sua reserva. A tarifa vai para <em>R$ 159,00</em> para quartos single ou duplo com café da manhã incluso.</p>
            </div>
        </div>
    </div>
</div>

<div class="box box-sponsors box-white box-center">
    <div class="container">

        <div class="box-content">

            <div class="group-sponsors">
                <div class="box-title">
                    <h2>Apresentador da Conference</h2>
                </div>
                <ul class="row list-brandings">
                    <li class="col-md-3 hidden-xs">
                    <li class="col-md-6 col-sm-12 col-xs-12">
                        <a target="_blank" href="http://www.dominiosistemas.com.br" title="Domínio Thomson Reuters">
                            <img style="min-width: 410px;" src="./assets/images/cdc-2019/patrocinadores/logo-dominio-thomson-reuters.svg" alt="Domínio Thomson Reuters" />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="group-sponsors">
                <div class="box-title">
                    <h2><span>Patrocinadores</span> Ouro</h2>
                </div>
                <ul class="row list-brandings">
                    <li class="col-md-3 hidden-xs">
                    <li class="col-md-6 col-sm-12 col-xs-12">
                        <a target="_blank" href="https://ebanx.com" title="Ebanx">
                            <img style="min-width: 220px;width: 220px" src="./assets/images/cdc-2019/patrocinadores/logo-ebanx.svg" alt="Ebanx" />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="group-sponsors">
                <div class="box-title">
                    <h2><span>Patrocinadores</span> Prata</h2>
                </div>
                <ul class="row list-brandings">
                    <li class="col-md-4 col-sm-6 col-12">
                        <a target="_blank" href="http://www.site.satc.edu.br" title="SATC">
                            <img style="min-width: 160px;width: 160px" src="./assets/images/cdc-2019/patrocinadores/logo-satc.png" alt="SATC" />
                        </a>
                    </li>

                    <li class="col-md-4 col-sm-6 col-12">
                        <a target="_blank" href="http://www.betha.com.br" title="Betha Sistemas">
                            <img style="min-width: 220px;width: 220px" src="./assets/images/cdc-2019/patrocinadores/logo-betha.png" alt="Betha Sistemas" />
                        </a>
                    </li>

                    <li class="col-md-4 col-sm-6 col-12">
                        <a target="_blank" href="https://www.consolidesuamarca.com.br" title="Consolide Sua Marca">
                            <img style="min-width: 220px;width: 220px" src="./assets/images/cdc-2019/patrocinadores/logo-consolide.png" alt="Consolide Sua Marca" />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="group-sponsors">
                <div class="box-title">
                    <h2><span>Patrocinadores</span> Bronze</h2>
                </div>
                <ul class="row list-brandings">

                    <li class="col-md-3 col-sm-6 col-xs-12">
                        <a target="_blank" href="https://br.godaddy.com" title="GoDaddy">
                            <img style="min-width: 145px;width: 145px" src="./assets/images/cdc-2019/patrocinadores/logo-godaddy.png" alt="GoDaddy" />
                        </a>
                    </li>

                    <li class="col-md-3 col-sm-6 col-xs-12">
                        <a target="_blank" href="https://nubank.com.br" title="Nubank">
                            <img style="min-width: 145px;width: 145px" src="./assets/images/cdc-2019/patrocinadores/logo-nubank.png" alt="Nubank" />
                        </a>
                    </li>

                    <li class="col-md-3 col-sm-6 col-xs-12">
                        <a target="_blank" href="https://www.portabilis.com.br" title="Portabilis">
                            <img style="min-width: 180px;width: 180px" src="./assets/images/cdc-2019/patrocinadores/logo-portabilis.png" alt="Portabilis" />
                        </a>
                    </li>

                    <li class="col-md-3 col-sm-6 col-xs-12">
                        <a target="_blank" href="http://www.ibis.com" title="Ibis Hoteis">
                            <img style="min-width: 90px;width: 90px" src="./assets/images/cdc-2019/patrocinadores/logo-ibis.png" alt="Ibis Hoteis" />
                        </a>
                    </li>

                    <li class="col-md-3 col-sm-6 col-xs-12">
                        <a target="_blank" href="http://collab2.cloud" title="Collab2">
                            <img style="min-width: 160px;width: 160px" src="./assets/images/cdc-2019/patrocinadores/logo-collab2.svg" alt="Collab2" />
                        </a>
                    </li>

                    <li class="col-md-3 col-sm-6 col-xs-12">
                        <a target="_blank" href="http://plurallcw.com.br" title="Plurall Coworking">
                            <img style="min-width: 111px;width: 111px" src="./assets/images/cdc-2019/patrocinadores/logo-plurall.png" alt="Plurall Coworking" />
                        </a>
                    </li>

                    <li class="col-md-3 col-sm-6 col-xs-12">
                        <a target="_blank" href="http://www.useall.com.br" title="Useall">
                            <img style="min-width: 160px;width: 110px" src="./assets/images/cdc-2019/patrocinadores/logo-useall.png" alt="Useall" />
                        </a>
                    </li>

                    <li class="col-md-3 col-sm-6 col-xs-12">
                        <a target="_blank" href="https://www.nerdstickers.com.br" title="Nerd Stickers">
                            <img style="min-width: 158px;width: 158px" src="./assets/images/cdc-2019/patrocinadores/logo-nerd-stickers.png" alt="Nerd Stickers" />
                        </a>
                    </li>

                    <li class="col-md-3 col-sm-6 col-xs-12">
                        <a target="_blank" href="https://www.organizze.com.br" title="Organizze">
                            <img style="min-width: 160px;width: 110px" src="./assets/images/cdc-2019/patrocinadores/logo-organizze.svg" alt="Organizze" />
                        </a>
                    </li>
                </ul>

            </div>

            <div class="group-sponsors">
                <div class="box-title">
                    <h2><span>Media</span> Partners</h2>
                </div>
                <ul class="row list-brandings">
                    <li class="col-md-4 col-sm-6 col-12">
                        <a target="_blank" href="http://www.engeplus.com.br" title="Engeplus">
                            <img style="max-width: 130px" src="./assets/images/cdc-2019/patrocinadores/logo-engeplus.png" alt="Engeplus" />
                        </a>
                    </li>
                    <li class="col-md-4 col-sm-6 col-12">
                        <a target="_blank" href="https://devnaestrada.com.br" title="Dev Na Estrada">
                            <img style="max-width: 180px" src="./assets/images/cdc-2019/patrocinadores/logo-dne.svg" alt="Dev Na Estrada" />
                        </a>
                    </li>

                    <li class="col-md-4 col-sm-6 col-12">
                        <a target="_blank" href="https://www.infoq.com/br/?utm_source=criciumadevconference&utm_medium=logo-infoq&utm_campaign=parceria-eventos " title="InfoQ Brasil">
                            <img style="max-width: 140px" src="./assets/images/cdc-2019/patrocinadores/logo-infoq.png" alt="InfoQ Brasil" />
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<a target="_blank" href="https://bit.ly/cdc2019s" data-scope="fixed-bar" class="button button-secondary fixed-button">Comprar Ingressos</a>

<script type="text/javascript">
    var newsletterBarVisible = false;
    var $newsletterBar = $('*[data-scope="fixed-bar"]:first');

    $(window).on('scroll', function(){
        scroll = 700;

        if($(document).scrollTop() > scroll){
          if (newsletterBarVisible == false) {
            $newsletterBar.addClass('visible');
          }
          newsletterBarVisible = true;
        }
    });
</script>

@@include('./_partials/footer.html')
