@@include('./_partials/header.html', {
    "pageClass": "page page-conference-2020",
    "pageTitle": "Criciúma Dev Conference 2020 &bull; Um dos maiores eventos de Tecnologia do Sul do Brasil",
    "pageDescription": "A terceira edição do Criciúma Dev Conference chega para mais uma vez reafirmar a união da comunidade, fomentar ideias e colocar Criciúma de vez no mapa dos grandes eventos de tecnologia do Brasil.",
    "pageUrl": "/conference-2020"
})

<div class="box box-1">
    <div class="container">
        <div class="banner">
            <h5>#CDC no Teatro Elias Angeloni - 09/05</h5>
            <h2>Criciúma Dev</h2>
            <h3>Conference 2020</h3>
        </div>
        <div class="countdown">
            <div class="group-time days">
                <p class="time">-</p><span class="label">DIAS</span>
            </div>
            <div class="group-time hours">
                <p class="time">-</p><span class="label">HORAS</span>
            </div>
            <div class="group-time minutes">
                <p class="time">-</p><span class="label">MIN</span>
            </div>
            <div class="group-time seconds">
                <p class="time">-</p><span class="label">SEG</span>
            </div>
        </div>
        <a href="https://eventos.criciumadev.com.br/criciuma-dev-conference-2020" class="button" target="_blank">Comprar Ingressos</a>
        <a href="#coc" class="coc-link" data-cdc="open">Código de conduta</a>
    </div>
</div>

<div class="box box-2 box-white">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="box-title">
                    <h2>Sobre o #CDC2020</h2>
                    <p>
                        O Criciúma Dev Conference é um dos maiores eventos de tecnologia do Sul do Brasil. Feito pela comunidade para a comunidade, tem como objetivo difundir a área de TI, promover a troca de experiências e manter a comunidade crescendo igualmente em público e impacto social. São 8 horas de imersão onde os participantes poderão assistir palestras, fazer networking e adquirir novos conhecimentos com desenvolvedores renomados da comunidade.
                    </p>
                    <p style="margin-bottom: 40px;">
                        Em 2020, o #CDC chega à terceira edição com uma história de enorme sucesso e a reputação de ser uma das melhores conferências do Sul do Brasil.
                    </p>
                    <a href="https://eventos.criciumadev.com.br/criciuma-dev-conference-2020" class="button" target="_blank">Comprar Ingressos</a>
                </div>
            </div>
            <div class="col-md-6 col-md-push-1 col-sm-12 col-xs-12 hidden-xs">
                <div class="row group-images">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2020/sobre/im-criciuma-dev-1.jpg" alt="Criciúma Dev 1" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2020/sobre/im-criciuma-dev-2.jpg" alt="Criciúma Dev 2" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2020/sobre/im-criciuma-dev-3.jpg" alt="Criciúma Dev 3" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2020/sobre/im-criciuma-dev-4.jpg" alt="Criciúma Dev 4" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2020/sobre/im-criciuma-dev-5.jpg" alt="Criciúma Dev 5" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2020/sobre/im-criciuma-dev-6.jpg" alt="Criciúma Dev 6" />
                        </figure>
                    </div>
                     <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2020/sobre/im-criciuma-dev-7.jpg" alt="Criciúma Dev 7" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2020/sobre/im-criciuma-dev-8.jpg" alt="Criciúma Dev 8" />
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <figure>
                            <img src="./assets/images/cdc-2020/sobre/im-criciuma-dev-9.jpg" alt="Criciúma Dev 9" />
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="box box-3 box-about hidden-xs">
    <div class="container">
        <div class="box-about-item">
            <img src="/assets/icons/ico_mic.png" alt="7 Palestras" class="box-about-icon" />
            <div class="box-about-entry">
                <strong>7</strong>
                Palestras
            </div>
        </div>
        <div class="box-about-item">
            <img src="/assets/icons/ico_stands.png" alt="+6 Stands" class="box-about-icon" />
            <div class="box-about-entry">
                <strong>+6</strong>
                Stands
            </div>
        </div>
        <div class="box-about-item">
            <img src="/assets/icons/ico_profi.png" alt="+300 Profissionais" class="box-about-icon" />
            <div class="box-about-entry">
                <strong>+700</strong>
                Profissionais
            </div>
        </div>
        <div class="box-about-item">
            <img src="/assets/icons/ico_networking.png" alt="Muito Networking" class="box-about-icon" />
            <div class="box-about-entry">
                <strong>Muito</strong>
                Networking
            </div>
        </div>
    </div>
</div>

<div class="box box-gray box-4 box-palestras">
    <div class="container">
        <div class="box-title box-feat-title">
            <h2>Palestrantes</h2>
        </div>
        <div class="box-content box-palestrantes">

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2020/palestrantes/em-breve-3.png" alt="Em breve" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Em Breve</h5>
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2020/palestrantes/em-breve-3.png" alt="Em breve" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Em Breve</h5>
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2020/palestrantes/em-breve-3.png" alt="Em breve" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Em Breve</h5>
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2020/palestrantes/em-breve-3.png" alt="Em breve" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Em Breve</h5>
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2020/palestrantes/em-breve-3.png" alt="Em breve" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Em Breve</h5>
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2020/palestrantes/em-breve-3.png" alt="Em breve" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Em Breve</h5>
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2020/palestrantes/em-breve-3.png" alt="Em breve" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Em Breve</h5>
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2020/palestrantes/em-breve-3.png" alt="Em breve" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Em Breve</h5>
                </div>
            </div>

            <div class="box-palestrantes-person">
                <div class="box-palestrantes-person--thumb">
                    <img src="/assets/images/cdc-2020/palestrantes/em-breve-3.png" alt="Em breve" />
                </div>
                <div class="box-palestrantes-person--about">
                    <h5>Em Breve</h5>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="box box-5 box-programacao">
    <div class="container">
        <div class="box-title box-feat-title">
            <h2>Programação</h2>
        </div>

        <div class="box-content box-prog">
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">8h</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Credenciamento &amp; Coffee Break</h4>
                    </div>
                </div>
            </div>
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">9h</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Abertura do evento</h4>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Palestra 1</h4>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Palestra 2</h4>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Palestra 3</h4>
                    </div>
                </div>
            </div>
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">11h30</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Almoço</h4>
                    </div>
                </div>
            </div>
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">13h</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Abertura da tarde</h4>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Palestra 4</h4>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Palestra 5</h4>
                    </div>
                </div>
            </div>
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">14h40</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Coffee Break</h4>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Palestra 6</h4>
                    </div>
                    <div class="box-prog-item">
                        <h4 class="box-prog-item-title-blue">Palestra 7</h4>
                    </div>
                </div>
            </div>
            <div class="box-prog-hour">
                <div class="box-prog-hour--time">16h50</div>
                <div class="box-prog-hour--sep">/</div>
                <div class="box-prog-hour--items">
                    <div class="box-prog-item">
                        <h4>Encerramento</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="box box-blue box-6 box-hotel hidden-xs">
    <div class="container">
        <div class="box-content">
            <div class="box-hotel-about">
                <h3>Onde se hospedar</h3>
                <p><strong>ÍBIS HOTEL CRICIÚMA</strong></p>
                <p>Av. Gabriel Zanette, 1090 - Ceará, Criciúma - SC, 88815-060</p>
                <a href="https://goo.gl/pgq5i2" class="button button-secondary" target="_blank">Como Chegar?</a>
            </div>
            <div class="box-hotel-discount hidden-xs">
                <p>Tá afim de ficar no hotel? Nós fizemos uma parceria com o Ibis Hoteis e conseguimos um <b>DESCONTO</b> \o/ para vocês.<br />
                Basta enviar um email para <a href="mailto:ibis.criciuma@accor.com?subject=Reserva para o Criciúma Dev Conference">ibis.criciuma@accor.com</a>, falar que vai vir para o evento e fazer sua reserva. A tarifa vai para <em>R$ 159,00</em> para quartos single ou duplo com café da manhã incluso.</p>
            </div>
        </div>
    </div>
</div> -->

<div class="box box-sponsors box-white box-center">
    <div class="container">

        <div class="box-content">

            <div class="group-sponsors">
                <div class="box-title">
                    <h2>Apresentador da Conference</h2>
                </div>
                <ul class="row list-brandings">
                    <li class="col-md-3 hidden-xs">
                    <li class="col-md-6 col-sm-12 col-xs-12">
                        <a target="_blank" href="http://www.dominiosistemas.com.br" title="Domínio Thomson Reuters">
                            <img style="min-width: 410px;" src="./assets/images/cdc-2020/patrocinadores/logo-dominio-thomson-reuters.svg" alt="Domínio Thomson Reuters" />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="group-sponsors">
                <div class="box-title">
                    <h2><span>Patrocinadores</span> Prata</h2>
                </div>
                <ul class="row list-brandings">
                    <li class="col-md-4 col-sm-12 col-xs-12">
                        <a target="_blank" href="https://ebanx.com" title="Ebanx">
                            <img style="min-width: 220px;width: 220px" src="./assets/images/cdc-2020/patrocinadores/logo-ebanx.svg" alt="Ebanx" />
                        </a>
                    </li>

                    <li class="col-md-4 col-sm-12 col-xs-12">
                        <a target="_blank" href="http://www.site.satc.edu.br" title="SATC">
                            <img style="min-width: 220px;width: 220px" src="./assets/images/cdc-2020/patrocinadores/logo-satc.png" alt="SATC" />
                        </a>
                    </li>

                    <li class="col-md-4 col-sm-12 col-xs-12">
                        <a target="_blank" href="https://www.nerdstickers.com.br" title="Nerd Stickers">
                            <img style="min-width: 220px;width: 220px" src="./assets/images/cdc-2020/patrocinadores/logo-nerd-stickers.png" alt="Nerd Stickers" />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="group-sponsors">
                <div class="box-title">
                    <h2><span>Patrocinadores</span> Bronze</h2>
                </div>
                <ul class="row list-brandings">
                    <li class="col-md-4 col-sm-6 col-xs-12"  style="float: none;">
                        <a target="_blank" href="http://www.useall.com.br" title="Useall">
                            <img style="min-width: 180px;width: 180px" src="./assets/images/cdc-2020/patrocinadores/logo-useall.png" alt="Useall" />
                        </a>
                    </li>
                </ul>

            </div>

            <div class="group-sponsors">
                <div class="box-title">
                    <h2><span>Patrocinadores</span> Startup</h2>
                </div>
                <ul class="row list-brandings">
                    <li class="col-md-3 col-sm-6 col-12"  style="float: none;">
                        <a target="_blank" href="https://www.swing.dev" title="Swing.Dev">
                            <img style="max-width: 130px" src="./assets/images/cdc-2020/patrocinadores/logo-swing-dev.svg" alt="Swing.Dev" />
                        </a>
                    </li>
                </ul>
            </div>

            <a href="https://forms.gle/DW12FsAfyvS7gQ3X7" target="_blank" class="simple-link">Seja um Patrocinador</a>

        </div>
    </div>
</div>

<a target="_blank" href="https://eventos.criciumadev.com.br/criciuma-dev-conference-2020" data-scope="fixed-bar" class="button button-secondary fixed-button">Comprar Ingressos</a>

<div class="coc" id="coc">
    <span class="coc-close" data-cdc="close">×</span>
    <div class="coc-content">
        <div class="coc-content-inner">
            <h1>Código de Conduta</h1>
            <p>Participantes, palestrantes, representantes de empresas e pessoas voluntárias da conferência precisam concordar com este código de conduta. A equipe organizadora vai reforçar que este código seja seguido durante todo o evento. Esperamos a cooperação de todas as partes para ajudar a garantir um ambiente seguro para qualquer pessoa.</p>

            <h2>Versão rápida</h2>
            <p>Nossa conferência é dedicada a fornecer uma experiência livre de assédio para todas as pessoas, independentemente do sexo, identidade de gênero e expressão, idade, orientação sexual, deficiência, aparência física, tamanho corporal, cor de pele, etnia, religião (ou falta dela) ou escolhas de tecnologias. Não toleramos o assédio a participantes da conferência, sob qualquer forma. Linguagem e imagens sexuais não são apropriadas em nenhum local, incluindo palestras, workshops, festas, Twitter e outras mídias on-line. Violações destas regras poderão causar expulsão da conferência, sem restituição, a critério da equipe organizadora.</p>

            <h2>Versão mais longa</h2>
            <p>Constituem assédio comentários verbais ofensivos relacionados a gênero, identidade de gênero e expressão, idade, orientação sexual, deficiência, aparência física, tamanho corporal, cor de pele, etnia, religião, escolhas de tecnologias, imagens sexuais em espaços públicos, intimidação deliberada, perseguição, stalking, fotografias ou filmagens constrangedoras, interrupção contínua das apresentações ou outros eventos, contato físico inadequado e atenção sexual indesejada.</p>
            <p>Participantes que receberem uma solicitação para interromper qualquer comportamento de assédio devem fazer isso imediatamente.</p>
            <p>As políticas antiassédio também se aplicam a representantes de empresas patrocinadoras. Em particular, não devem usar imagens, atividades ou outro material de cunho sexual. As equipes de estandes e tendas (incluindo pessoas voluntárias) não devem utilizar roupas, uniformes ou trajes sexualizados ou criar um ambiente sexualizado de quaisquer formas.</p>
            <p>Se alguém se envolver em comportamento de assédio, a equipe organizadora poderá tomar todas as medidas que considerar adequadas, incluindo avisar a pessoa ofensora ou expulsá-la da conferência sem nenhum reembolso.</p>
            <p>Caso sofra assédio, perceba que alguém esteja sofrendo assédio ou tenha alguma dúvida, entre em contato com alguém da organização imediatamente. As pessoas da equipe da conferência podem ser identificadas, pois estarão vestindo camisetas marcadas.</p>
            <p>A organização estará disposta a auxiliar participantes a entrar em contato com a segurança do hotel ou local, bem como aplicar a legislação pertinente, fornecer escoltas ou ajudar pessoas que sofrerem assédio para que se sintam seguras durante a conferência. Valorizamos sua participação.</p>
            <p>Esperamos que todas as pessoas participantes sigam estas regras em salas de apresentação e workshops da conferência, além de eventos sociais relacionados.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    var newsletterBarVisible = false;
    var $newsletterBar = $('*[data-scope="fixed-bar"]:first');

    $(window).on('scroll', function(){
        scroll = 700;

        if($(document).scrollTop() > scroll){
          if (newsletterBarVisible == false) {
            $newsletterBar.addClass('visible');
          }
          newsletterBarVisible = true;
        }
    });
</script>

@@include('./_partials/footer.html')
