@@include('./_partials/header.html', {
    "pageClass": "page page-conference",
    "pageTitle": "Criciúma Dev Conference 2018",
    "pageDescription": "O evento Criciúma Dev Conference chega para firmar a união da comunidade, fomentar ideias e colocar Criciúma de vez no mapa dos grandes eventos de tecnologia do Brasil.",
    "pageUrl": "/conference"
})

<div class="container">
    <h2>19 de Maio <span>•</span> Acic Criciúma</h2>
    <a target="_blank" href="https://www.sympla.com.br/criciuma-dev-conference__213460" class="button button-secondary">Garanta o seu ingresso</a>
    <a target="_blank" href="https://goo.gl/forms/pmulZykTHDU7idQl2" class="sponsorship">Quero patrocinar</a>
</div>

@@include('./_partials/footer.html')
