@@include('./_partials/header.html', {
    "pageClass": "page page-comunicado",
    "pageTitle": "Comunicado - Criciúma Dev Conference",
    "pageDescription": "Comunicado importante a todos que vão ou pretender ir ao evento.",
    "pageUrl": "/criciuma-dev-conference-comunicado"
})

<div class="container">
	<div class="box-title">
		<h1 class="text-left">Comunicado sobre o Criciúma Dev Conference 2020</h1>
	</div>

	<div class="content-page">

		<p><i class="update-time">Atualizado em 18 de março 2020</i></p>

		<h3>Galera, o Criciúma Dev Conference 2020 está adiado.</h3>

		<h6 class="mb-0">TL;DR;</h6>

		<ul class="list-disc mb-5">
			<li>O Criciúma Dev Conference 2020 está adiado por causa da pandemia do COVID-19;</li>
			<li>Até o começo de julho divulgaremos novas informações sobre o evento;</li>
			<li>Provável que seja realizado a partir de setembro de 2020;</li>
			<li>Se até começo de julho não conseguirmos reorganizar a execução do evento, entraremos em contato para realizar o reembolso das inscrições;</li>
			<li>No dia 09 de maio, dia que o evento iria acontecer, faremos uma live com vários profissionais da área para falar de tecnologia;</li>
		</ul>

		<h6 class="mb-1">Entenda:</h6>

		<p>Desde o começo do ano já estávamos acompanhando o avanço do COVID-19 pelo mundo e com sua aproximação de nossa região, resolvemos adotar uma postura cautelosa e transparente com nossa comunidade. Os números de casos suspeitos em Santa Catarina só cresce, juntamente com os confirmados. Alguns bem próximos a Criciúma e já existem mortes registradas no Brasil. Diante disso, preocupados com a saúde e bem estar de todos os participantes, palestrantes, patrocinadores, staff e seguindo recomendações do Governo de Santa Catarina, Ministério da Saúde e OMS, informamos que vamos adiar a Conference. Nosso objetivo com essa decisão é proteger todas as pessoas envolvidas no evento.</p>
		<p>Adiar um evento com o tamanho e estrutura do Criciúma Dev Conference não é algo simples. Dezenas de pessoas estão envolvidas, desde nós da organização, palestrantes, patrocinadores (muitos com stands) e fornecedores dos mais diversos nichos. Por isso, nós temos muito a agradecer. Quando levamos a notícia do adiamento para os palestrantes, todos concordaram e querem vir palestrar independente de data. Com os patrocinadores também não foi diferente... mesmo com a mudança pra uma data ainda não definida, todos os patrocínios foram mantidos :)</p>
		<p>Neste momento estamos pausando todas as vendas e comunicações relacionadas ao evento, até que a nova data e local sejam anunciadas.</p>
		<p>Nossa intenção é que o Criciúma Dev Conference 2020 aconteça em uma nova data a partir de setembro de 2020 e queremos divulgar uma nova data até o começo de julho de 2020. Caso a onda de casos do COVID-19 não diminua e o cenário ainda não seja favorável, entraremos em contato com todos que realizaram a compra dos ingressos para realizarmos o reembolso. Quem já comprou, está com o lugar garantido na edição que será remarcada.</p>
		<p>Já enviamos um e-mail para todas as pessoas com pedidos e/ou inscrições para o evento, bem como para palestrantes, patrocinadores e fornecedores, no intuito de manter um alinhamento entre todas essas pessoas e também encontrarmos o melhor desfecho para cada situação específica.</p>
		<p>
			Junto a tudo isso, gostaríamos de avisar que iremos realizar uma live no dia <strong>09 de maio</strong>, dia em que o evento iria ser realizado, tendo como host o grande <a href="https://www.linkedin.com/in/rodrigobranas" target="_blank">Rodrigo Branas</a> e grandes nomes da área para falar de tecnologia. Estamos bolando ainda o formato da live e estruturando a idéia, mas temos certeza que será algo bem legal :).<br>
			A live será <strong>ABERTA</strong> para quem comprou ou não os ingressos da Conference e em breve divulgaremos mais informações.
		</p>
		<br>
		<h6 class="mb-1">Recomendamos como fonte de informação confiável sobre o coronavírus os sites abaixo:</h6>
		<ul class="list-disc mb-5">
			<li>Página oficial do Ministério da Saúde. <a target="_blank" href="https://saude.gov.br/coronavirus">https://saude.gov.br/coronavirus</a>;</li>
			<li>Página oficial da OMS sobre recomendações em relação ao coronavírus <a target="_blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public</a>;</li>
			<li>Boletim atualizado sobre o coronavírus no Brasil <a target="_blank" href="https://www.saude.gov.br/boletins-epidemiologicos">https://www.saude.gov.br/boletins-epidemiologicos</a>;</li>
			<li>Aplicativos oficiais do Ministério da Saúde para <a target="_blank" href="https://play.google.com/store/apps/details?id=br.gov.datasus.guardioes">Android</a> e <a target="_blank" href="https://apps.apple.com/br/app/coronav%C3%ADrus-sus/id1408008382">iOS</a>.</li>
		</ul>

		<p>Tem alguma outra dúvida? Envie um email para <a href="mailto:contato@criciumadev.com.br">contato@criciumadev.com.br</a>.</p>

	</div>
</div>

@@include('./_partials/footer.html')