@@include('./_partials/header.html', {
    "pageClass": "home-page page-home",
    "pageTitle": "Criciúma Dev | Comunidade de desenvolvedores do Sul de Santa Catarina",
    "pageDescription": "Site da comunidade de desenvolvedores do Sul de Santa Catarina - CriciumaDEV. Conference, Meetups, Artigos e muito mais.",
    "pageUrl": "/"
})

<div class="box box-1">
    <div class="container">
        <h1>Comunidade de desenvolvedores do Sul de Santa Catarina</h1>
        <p>Unindo desenvolvedores, fomentando ideias e passando conhecimento!</p>
    </div>
</div>

@@include('./_partials/sobre.html')
@@include('./_partials/eventos.html')

<div class="box box-4 box-gray box-center">
    <div class="container">
        <div class="box-title">
            <h2>Últimos artigos</h2>
            <p>Artigos escritos por nós ou membros de nossa comunidade.</p>
        </div>
        <div class="box-content">
            <div data-scope="posts-feed"></div>
            <a target="_blank" href="https://medium.com/criciumadev" class="button button-secondary">Ver todos os artigos</a>
        </div>
    </div>
</div>

<div class="box box-5 box-white box-center">
    <div class="container">
        <div class="box-title">
            <h2>Vídeos</h2>
            <p>Vídeos de eventos que realizamos e eventos parceiros. Clique e veja como são nossos encontros.</p>
        </div>
        <div class="box-content">
            <div data-scope="videos-feed"></div>
            <a target="_blank" href="https://www.youtube.com/channel/UC5rQV1_PbC_hYxaiT78lbhg/videos?sub_confirmation=1" class="button button-secondary">Ver todos os vídeos</a>
        </div>
    </div>
</div>

@@include('./_partials/sponsors.html')
@@include('./_partials/footer.html')