@@include('./_partials/header.html', {
    "pageClass": "page page-sobre",
    "pageTitle": "Sobre - Criciúma Dev",
    "pageDescription": "Sobre a comunidade Criciúma Dev. Como surgiu, quem organiza e mais..."
})

<div class="container">
	<div class="box-title">
		<h1>Sobre o Criciúma Dev</h1>
	</div>

	<div class="content-page">
		<p>O que é a <strong>BrazilJS Conf</strong>?</p>

		<p>A <strong>BrazilJS Conf</strong> nasceu como uma conferência sobre JavaScript, mas hoje é bem mais do que isso. É um evento que surgiu junto com a comunidade JavaScript/Front-end no Brasil, com quem cresceu e amadureceu. Ao longo dos anos, a BrazilJS Conf passou por algumas transições, o que é natural, mas hoje pode-se dizer exatamente o que ela é: a grande realização da NASC, empresa dos primos e empreendedores <strong>JAYDSON N. GOMES</strong> e <strong>FELIPE N. MOURA</strong>. A ideia, desde o começo, foi trabalhar em conjunto com a comunidade JavaScript/Front-end e levar conteúdo inédito e de qualidade para pessoas da área de tecnologia.</p>

		<p>A inspiração surgiu em 2008, quando muitos eventos sobre tecnologia e linguagens estavam acontecendo pelo mundo. Inquietos com a profissão, Felipe e Jaydson, ambos desenvolvedores, sentiram falta de um encontro focado na linguagem com a qual mais se identificam: o JavaScript.</p>

		<p>No ano seguinte, nos Estados Unidos, surgiu a primeira conferência sobre <strong>JS</strong>, a <strong>JSConf</strong>. E esse foi o input para que a dupla decidisse botar de pé um grande evento sobre JavaScript no Brasil.</p>

		<p>E assim, em 2011, nasceu a BrazilJS Conf, em parceria com o programador <a href="http://www.asdad.com">Christiano Milfont</a>. Já na primeira edição, em Fortaleza, o evento tornou-se uma das maiores conferências do gênero no mundo, contando com 600 participantes e mais de 20 palestras.</p>

		<p>Em 2012, a <strong>BrazilJS Conf</strong> teve público superior a 900 pessoas e trouxe ao país, pela primeira vez, o lendário criador da linguagem JS, Brendan Eich. Em 2013 e 2014, o sucesso se repetiu. Com nomes de peso entre os speakers, como Douglas Crockford, Yehuda Katz, Guillermo Rauch e Mr. Doob, o número de participantes chegou a quase mil em cada uma das edições.</p>

		<p>A edição de 2015 foi especial: celebração do 20º aniversário do JavaScript e mais de 1,3 mil participantes. Em 2016, foram cerca 1,6 mil participantes em um local com excelente infraestrutura para conferir palestrantes de diversas partes do globo.</p>

		<p>Estamos muito empolgados! 2017 será um ano produtivo e contamos com todos vocês para que a BrazilJS Conf e os eventos parceiros deem certo.</p>

		<p>Têm alguma dúvida, ideia ou sugestão? Entre em contato conosco <a href="http://globo.com">AQUI</a>! 🙂</p>

		<p>
			<strong>Razão Social</strong>: F E J Nascimento Treinamento Empresarial LTDA<br>
			<strong>Nome Fantasia</strong>: Nasc<br>
			<strong>CNPJ</strong>: 18302986000110<br>
			<strong>Inscrição Municipal</strong>: 55759521<br>
			<strong>Endereço</strong>: Praça Osvaldo Cruz, 15, sala 201, Porto Alegre/RS- CEP 90038-900<br>
		</p>

		&nbsp;

		&nbsp;

		<div class="box-title">
		    <h1>Organização</h1>
		</div>

		<ul class="list-board">
		    <li>
		        <img src="./assets/images/sobre/mateus-vicente.jpg" alt="Mateus Vicente" />
		        <strong>Mateus Vicente</strong>
		    </li>
		    <li>
		        <img src="./assets/images/sobre/mateus-paegle.jpg" alt="Mateus Paegle" />
		        <strong>Mateus Paegle</strong>
		    </li>
		    <li>
		        <img src="./assets/images/sobre/luiz-estacio.jpg" alt="Luiz Estácio" />
		        <strong>Luiz Estácio</strong>
		    </li>
		    <li>
		        <img src="./assets/images/sobre/pedro-pra.jpg" alt="Pedro Prá" />
		        <strong>Pedro Prá</strong>
		    </li>
		    <li>
		        <img src="./assets/images/sobre/marcelo-cajueiro.jpg" alt="Marcelo Cajueiro" />
		        <strong>Marcelo Cajueiro</strong>
		    </li>
		    <li>
		        <img src="./assets/images/sobre/caroline-salib.jpg" alt="Caroline Salib" />
		        <strong>Caroline Salib</strong>
		    </li>
		    <li>
		        <img src="./assets/images/sobre/lucas-ferreira.jpg" alt="Lucas Ferreira" />
		        <strong>Lucas Ferreira</strong>
		    </li>
		    <li>
		        <img src="./assets/images/sobre/rafael-cardoso.jpg" alt="Rafael Melo Cardoso" />
		        <strong>Rafael Melo Cardoso</strong>
		    </li>
		</ul>
	</div>
</div>

@@include('./_partials/footer.html')