@@include('./_partials/header.html', {
    "pageClass": "page page-sobre",
    "pageTitle": "Sobre - Criciúma Dev",
    "pageDescription": "Sobre a comunidade Criciúma Dev. Como surgiu, quem organiza e mais...",
    "pageUrl": "/sobre"
})

<div class="container">
	<div class="box-title">
		<h1>Sobre o Criciúma Dev</h1>
	</div>

	<div class="content-page">

		<p>O <strong>Criciúma Dev</strong> surgiu de um encontro em um bar marcado por 5 amigos que queriam movimentar a área de tecnologia da região. Não achavam justo uma cidade com tantas empresas de tecnologia não ter uma comunidade unida e eventos a sua altura.</p>

		<p>Uma semana depois foi dada a largada e organizaram o <a target="_blank" href="https://www.facebook.com/events/283784125301627">1º Meetup Criciúma Dev</a> que contou com 35 participantes.</p>

		<p>Cerca de 45 dias depois fizeram o <a target="_blank" href="https://www.facebook.com/events/157533771321866">2º Meetup</a> e não pararam mais. O público dos eventos só cresceu e cada meetup tem uma média de 110 pessoas. Já reakuzanis para o 11 Meetups <i>(Atualizado em 02/03/2020)</i>.</p>

		<p>No ano de 2017 foi realizado pelo Criciúma Dev juntamente com o Conexão Startup o evento <a target="_blank" href="https://valedocarbono.criciumadev.com.br">Vale do Carbono Conference</a> que contou com 2 trilhas, 12 palestras e mais de 300 participantes. O evento foi um sucesso absoluto.</p>

    	<p>Em 19/05/2018 foi realizado na ACIC Criciúma o <a target="_blank" href="/conference-2018">1º Criciúma Dev Conference</a> que firmou a união da comunidade e colocou Criciúma de vez no mapa dos grandes eventos de tecnologia do Brasil. Foram 8 palestras com referências nacionais em suas áreas, stands e mais de 400 participantes. Veja as fotos <a target="_blank" href="https://www.facebook.com/pg/criciumadev/photos/?tab=album&album_id=1875668072466963">clicando aqui.</a></p>

		<p>Em 04/05/2019 foi a vez do <a target="_blank" href="/conference-2019">2º Criciúma Dev Conference</a> também na ACIC Criciúma e marcou mais um grande momento para a comunidade de tecnologia da região AMREC e AMESC. Foram também 8 palestras ótimas palestras com referências nacionais e internacionais em suas áreas, novos stands e mais de 500 participantes. Confira as fotos <a target="_blank" href="https://www.facebook.com/pg/criciumadev/photos/?tab=album&album_id=2388134657886966">clicando aqui.</a></p>

		<p>Em 2020, o #CDC chega à terceira edição com uma história de enorme sucesso e a reputação de ser uma das melhores conferências do Sul do Brasil.</p>

		&nbsp;

		<h3>Números do Criciúma Dev</h3>

		<p>
			<a href="https://www.facebook.com/events/283784125301627">1º Meetup</a>: 35 Participantes<br>
			<a href="https://www.facebook.com/events/157533771321866">2º Meetup</a>: 50 Participantes<br>
			<a href="https://www.facebook.com/events/763849287089286">3º Meetup</a>: 120 Participantes<br>
			<a href="https://www.sympla.com.br/4-meetup-criciuma-dev__110843">4º Meetup</a>: 90 Participantes<br>
			<a href="https://www.sympla.com.br/5-meetup-criciuma-dev__157121">5º Meetup</a>: 100 Participantes<br>
			<a href="https://www.sympla.com.br/6-meetup-criciuma-dev__195222">6º Meetup</a>: 120 Participantes<br>
			<a href="https://www.sympla.com.br/7-meetup-criciuma-dev__248124">7º Meetup</a>: 90 Participantes<br>
			<a href="https://www.sympla.com.br/8-meetup-criciuma-dev__314883">8º Meetup</a>: 40 Participantes<br>
			<a href="https://www.sympla.com.br/9-meetup-criciuma-dev__367306">9º Meetup</a>: 110 Participantes<br>
			<a href="https://www.sympla.com.br/10-meetup-criciuma-dev__412778">10º Meetup</a>: 60 Participantes<br>
			<a href="https://www.sympla.com.br/11-meetup-criciuma-dev__614584">11º Meetup</a>: 50 Participantes<br>
			<br>
			<a href="https://valedocarbono.criciumadev.com.br">Vale do Carbono Conference</a>: 300 Participantes<br>
			<a href="https://criciumadev.com.br/conference-2018">Criciúma Dev Conference 2018</a>: +400 Participantes<br>
			<a href="https://criciumadev.com.br/conference-2019">Criciúma Dev Conference 2019</a>: +500 Participantes<br>
		</p>

		<!-- <br><br><br>

		<div class="box-title">
		    <h1>Organização</h1>
		</div>

		<ul class="list-board row">
		    <li class="col-md-3 col-xs-12">
		        <img src="./assets/images/sobre/mateus-vicente.jpg" alt="Mateus Vicente" />
		        <strong>Mateus Vicente</strong>
		    </li>
		    <li class="col-md-3 col-xs-12">
		        <img src="./assets/images/sobre/mateus-paegle.jpg" alt="Mateus Paegle" />
		        <strong>Mateus Paegle</strong>
		    </li>
		    <li class="col-md-3 col-xs-12">
		        <img src="./assets/images/sobre/luiz-estacio.jpg" alt="Luiz Estácio" />
		        <strong>Luiz Estácio</strong>
		    </li>
		    <li class="col-md-3 col-xs-12">
		        <img src="./assets/images/sobre/pedro-pra.jpg" alt="Pedro Prá" />
		        <strong>Pedro Prá</strong>
		    </li>
		    <li class="col-md-3 col-xs-12">
		        <img src="./assets/images/sobre/lucas-ferreira.jpg" alt="Lucas Ferreira" />
		        <strong>Lucas Ferreira</strong>
		    </li>

		    <li class="col-md-3 col-xs-12">
		        <img src="./assets/images/sobre/edmundo-nascimento.jpg" alt="Edmundo Nascimento" />
		        <strong>Edmundo Nascimento</strong>
		    </li>
		    <li class="col-md-3 col-xs-12">
		        <img src="./assets/images/sobre/zolfer-figueiredo.jpg" alt="Zolfer Figueiredo" />
		        <strong>Zolfer Figueiredo</strong>
		    </li>
		    <li class="col-md-3 col-xs-12">
		        <img src="./assets/images/sobre/junior-rocha.jpg" alt="Junior Rocha" />
		        <strong>Junior Rocha</strong>
		    </li>
		</ul> -->
	</div>
</div>

@@include('./_partials/footer.html')
