@@include('./_partials/header.html', {
    "pageClass": "page-vagas",
    "pageTitle": "Criciúma Dev - Vagas",
    "pageDescription": ""
})

<?php get_header(); ?>

<div class="box-1">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <h1>
                    Vagas disponíveis em Criciúma<br>
                    e região para a área de tecnologia
                </h1>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <a href="<?php echo esc_url( home_url( '/publicar-uma-vaga' ) ); ?>" class="button button-secondary">Publique suas vagas grátis</a>
            </div>
        </div>
    </div>
</div>

<div class="box box-jobs">
    <div class="container">
        <h3 class="subtitle">Vagas em destaque</h3>
        <ul class="list-jobs">

            <li class="job">
                <a href="" title="ContaAzul">
                    <div class="row">

                        <div class="col-md-1 col-sm-1 col-xs-12">
                            <div class="image">
                                <span style="background: orange">CA</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="description">
                                <h2>Analista de Testes (QA)</h2>
                                <h4>Conta Azul</h4>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="details">
                                <span><i class="icon-location"></i> Criciúma, SC</span>
                                <span><i class="icon-rain"></i> Freelancer</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <span class="date">Hoje</span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="job">
                <a href="" title="ContaAzul">
                    <div class="row">

                        <div class="col-md-1 col-sm-1 col-xs-12">
                            <div class="image">
                                <figure>
                                    <img src="./assets/images/logos-vagas/contaazul.png" alt="ContaAzul" alt="ContaAzul" />
                                </figure>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="description">
                                <h2>Analista de Testes (QA)</h2>
                                <h4>Conta Azul</h4>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="details">
                                <span><i class="icon-location"></i> Criciúma, SC</span>
                                <span><i class="icon-rain"></i> Freelancer</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <span class="date">Hoje</span>
                        </div>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>

<div class="box box-jobs box-light">
    <div class="container">
        <ul class="list-jobs">

            <li class="job">
                <a href="" title="ContaAzul">
                    <div class="row">

                        <div class="col-md-1 col-sm-1 col-xs-12">
                            <div class="image">
                                <span style="background: lime;">CA</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="description">
                                <h2>Analista de Testes (QA)</h2>
                                <h4>Conta Azul</h4>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="details">
                                <span><i class="icon-location"></i> Criciúma, SC</span>
                                <span><i class="icon-rain"></i> Freelancer</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <span class="date">Hoje</span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="job">
                <a href="" title="ContaAzul">
                    <div class="row">

                        <div class="col-md-1 col-sm-1 col-xs-12">
                            <div class="image">
                                <figure>
                                    <img src="./assets/images/logos-vagas/contaazul.png" alt="ContaAzul" alt="ContaAzul" />
                                </figure>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="description">
                                <h2>Analista de Testes (QA)</h2>
                                <h4>Conta Azul</h4>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="details">
                                <span><i class="icon-location"></i> Criciúma, SC</span>
                                <span><i class="icon-rain"></i> Freelancer</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <span class="date">Hoje</span>
                        </div>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        Widgets.jobs.fetch();
    })
</script>

@@include('./_partials/footer.html')