@@include('./_partials/header.html', {
    "pageClass": "page-vagas",
    "pageTitle": "Vagas - Criciúma Dev",
    "pageDescription": "Vagas de emprego disponíveis em Criciúma e região para a área de tecnologia",
    "pageUrl": "/vagas"
})

<div class="box-1">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <h1>
                    Vagas disponíveis em Criciúma<br>
                    e região para a área de tecnologia
                </h1>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <!-- <a href="/publique-suas-vagas" class="button button-secondary">Publique suas vagas grátis</a> -->
                <a href="mailto:contato@criciumadev.com.br?subject=Solicitação de Publicação de Vaga" class="button button-secondary">Publique suas vagas grátis</a>
            </div>
        </div>
    </div>
</div>

<div class="box box-jobs">
    <div class="container">
        <h3 class="subtitle">Vagas em destaque</h3>
        <div>
            <ul class="list-jobs list-jobs-featured">
                @@loop('./_partials/job.html', @@vagas.featured)
            </ul>
        </div>
    </div>
</div>

<div class="box box-jobs box-light">
    <div class="container">
        <div>
            <ul class="list-jobs list-jobs-other">
                @@loop('./_partials/job.html', @@vagas.jobs)
            </ul>
        </div>
    </div>
</div>

@@include('./_partials/footer.html')
