@@include('./_partials/header.html', {
    "pageClass": "home-vagas",
    "pageTitle": "Criciúma Dev - Vagas",
    "pageDescription": ""
})

<?php get_header(); ?>

<div class="box-1">
    <div class="container">
        <div class="col-md-7">
            <h1>Vagas disponíveis em Criciúma e região para a área de tecnologia</h1>
        </div>
        <div class="col-md-5">
            <a href="<?php echo esc_url( home_url( '/publicar-uma-vaga' ) ); ?>" class="button button-secondary">Publique sua vaga grátis</a>
        </div>
    </div>
</div>

<div class="box box-2">
    <div class="container">
        <ul class="list-jobs">

            <li class="job">
                <a href="" title="ContaAzul">
                    <img src="https://scontent.fccm2-1.fna.fbcdn.net/v/t1.0-1/p200x200/23131914_1698860153487238_5966381881268447200_n.png?oh=ced106cdec03efbf1a4f78246fdc0952&oe=5ADFD1A2" alt="ContaAzul" />
                    <div class="job-description">
                        <p><strong class="company-name">ContaAzul</strong> está contratando um <strong class="job-title">Analista de Testes (QA)</strong></p>
                    </div>
                    <div class="job-details">
                        <span class="location">Içara, SC</span>
                        <span class="publish-date">Hoje</span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>

<div class="box box-3">
    <div class="container">
        <ul class="list-jobs">

            <li class="job">
                <a href="" title="ContaAzul">
                    <img src="https://scontent.fccm2-1.fna.fbcdn.net/v/t1.0-1/p200x200/23131914_1698860153487238_5966381881268447200_n.png?oh=ced106cdec03efbf1a4f78246fdc0952&oe=5ADFD1A2" alt="ContaAzul" />
                    <div class="job-description">
                        <p><strong class="company-name">ContaAzul</strong> está contratando um <strong class="job-title">Analista de Testes (QA)</strong></p>
                    </div>
                    <div class="job-details">
                        <span class="location">Içara, SC</span>
                        <span class="publish-date">Hoje</span>
                    </div>
                </a>
            </li>

            <li class="job">
                <a href="" title="ContaAzul">
                    <img src="https://scontent.fccm2-1.fna.fbcdn.net/v/t1.0-1/p200x200/23131914_1698860153487238_5966381881268447200_n.png?oh=ced106cdec03efbf1a4f78246fdc0952&oe=5ADFD1A2" alt="ContaAzul" />
                    <div class="job-description">
                        <p><strong class="company-name">ContaAzul</strong> está contratando um <strong class="job-title">Analista de Testes (QA)</strong></p>
                    </div>
                    <div class="job-details">
                        <span class="location">Içara, SC</span>
                        <span class="publish-date">Hoje</span>
                    </div>
                </a>
            </li>

            <li class="job">
                <a href="" title="ContaAzul">
                    <img src="https://scontent.fccm2-1.fna.fbcdn.net/v/t1.0-1/p200x200/23131914_1698860153487238_5966381881268447200_n.png?oh=ced106cdec03efbf1a4f78246fdc0952&oe=5ADFD1A2" alt="ContaAzul" />
                    <div class="job-description">
                        <p><strong class="company-name">ContaAzul</strong> está contratando um <strong class="job-title">Analista de Testes (QA)</strong></p>
                    </div>
                    <div class="job-details">
                        <span class="location">Içara, SC</span>
                        <span class="publish-date">Hoje</span>
                    </div>
                </a>
            </li>

            <li class="job">
                <a href="" title="ContaAzul">
                    <img src="https://scontent.fccm2-1.fna.fbcdn.net/v/t1.0-1/p200x200/23131914_1698860153487238_5966381881268447200_n.png?oh=ced106cdec03efbf1a4f78246fdc0952&oe=5ADFD1A2" alt="ContaAzul" />
                    <div class="job-description">
                        <p><strong class="company-name">ContaAzul</strong> está contratando um <strong class="job-title">Analista de Testes (QA)</strong></p>
                    </div>
                    <div class="job-details">
                        <span class="location">Içara, SC</span>
                        <span class="publish-date">Hoje</span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>

@@include('./_partials/footer.html')