body.page-sobre {

	.content .container .content-page {
		h1 {
			font-size: 40px;
			line-height: 50px;
			font-weight: 700;
			color: #000;
			text-align: center;
		}

		.list-board {
			text-align: center;

			li {
				display: inline-block;
				margin: 0 20px 40px;

				img {
					display: block;
					width: 115px;
					margin: 0 auto 10px;
				}

				br { display: none; }

				strong {
					display: block;
					text-align: center;
				}
			}
		}

	}
}