body.page-vagas {

	.content {
		padding: 0 0 100px;
		background: #FAFAFA;

		.box-1 {
			background: $color-blue-c url('./images/bg-bar-vagas.png') no-repeat center;
			padding: 47px 0;

			h1 {
				font-weight: 600;
				font-size: 28px;
				color: $color-light-a;
				letter-spacing: 0.19px;
				line-height: 38px;
			}

			.button {
				color: $color-blue-c;
				background: $color-light-a;
				padding: 0;
				width: 255px;
				height: 50px;
				line-height: 50px;
				float: right;
				margin: 13px 0;
			}
		}

		.box-jobs {
			background: #F3F3F3;
			padding: 45px 0;

			.container { max-width: 800px; }
		}

		.box-light {
			background: #FAFAFA;
		}

		.subtitle {
			font-weight: 500;
			font-size: 22px;
			color: $color-dark-a;
			margin-bottom: 30px;
		}

		ul.list-jobs {

			.job {
				@include box-shadow(0, 1px, 0, rgba(205,204,204,0.50));
				background: $color-light-a;
				@include rounder(4px);
				margin-bottom: 10px;

				a {
					display: block;
					padding: 20px 25px;
				}

				&:last-child { margin-bottom: 0; }

				.image {
					width: 50px;
					height: 50px;
					@include rounder(100%);

					span {
						display: block;
						width: 100%;
						height: 100%;
						line-height: 50px;
						font-weight: 500;
						font-size: 22px;
						color: $color-light-a;
						text-align: center;
						background: $color-blue-c;
						@include rounder(100%);
					}

					figure {
						width: 100%;
						height: 100%;

						img {
							width: 100%;
							height: 100%;
							display: block;
							@include rounder(100%);
						}
					}
				}

				.description {
					margin-left: 10px;
					padding: 1px 0 2px;

					h2 {
						font-weight: 500;
						font-size: 22px;
						line-height: 28px;
						color: $color-dark-a;
						margin-bottom: 3px;
					}
					h4 {
						font-size: 16px;
						line-height: 16px;
						color: #4A4A4A;
					}
				}

				.details {
					padding: 5px 0 0;

					span {
						@include clearfix;
						font-size: 16px;
						line-height: 17px;
						color: #4A4A4A;
						margin: 0 0 7px;

						&:last-child { margin: 0; }

						i {
							color: $color-blue-c;
							float: left;
							height: 17px;
							line-height: 17px;
							margin-right: 10px;
						}
					}
				}

				.date {
					float: right;
					padding: 10px 0;
				}
			}

		}

	}

	.footer .footer-top { margin-top: 0; }
}