// @media only screen and (max-width: 1530px) {
//     body { background-color: blue; }
// }

// @media only screen and (max-width: 1200px) {
//     body { background-color: red; }
// }

// @media only screen and (max-width: 992px) {
//     body { background-color: lime; }
// }

@media only screen and (max-width: 768px) {
    body.home-page {
		.container {
			padding: 15px;
			width: 100%;
			height: 100%;
			position: relative;
			top: 0;
			left: 0;
			margin: 0;
		}
		h2 {
			font-size: 20px;

			span { font-size: 25px; }
		}
	}
}