.button {
    display: inline-block;
    height: 42px;
    padding: 0 34px;
    font-weight: 600;
    font-size: 14px;
    line-height: 42px;
    @include rounder(42px);
    @include transiction;
    text-align: center;
	color: $color-light-a;
	max-width: 400px;
    text-transform: uppercase;

    &.button-primary-border {
        border: 2px solid rgba(255, 255, 255, 0.7);
    }

    &.button-secondary {
        @include background-gradient(-33deg, #272DFF, #03FAF1);
        @include box-shadow(0, 20px, 30px, rgba(0,0,0,.2));

        &:hover { @include box-shadow(0, 5px, 30px, rgba(0,0,0,.2)); }
    }
}