$color-light-a : #FFFFFF;

$color-dark-a  : #000000;
$color-dark-b  : #596176;

$color-gray-a  : #FAFAFA;
$color-gray-b  : #515151;
$color-gray-c  : #F0F0F0;

$color-blue-a  : #54A9FF;
$color-blue-b  : #5486FF;
$color-blue-c  : #0060F2;